<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Get Address</h1>
    <form action='/find' method="post">
      <label for'address[postcode]'>Postcode</label>
      <input type='text' name='address[postcode]' autofocus>

      <label for'address[house]'>House</label>
      <input type='text' name='address[house]'>

      <input type='submit' value='Find Address'>
    </form>

    <%= yield %>
  </boy>
</html>
